.contact-container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 50px;

    .contact-text{
        font-family: 'WorkSans Regular';
        font-size: clamp(1rem, 1vw, 1.5rem);
        color: white; 
        animation: fadeIn 3s both;
    }

    .linkedin-logo {
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        a {
            font-size: 3vw;
        }
    }

  }