.header-name {
    font-family: 'WorkSans Light';
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 10px;
    margin-left: 1vw;
    animation: fadeInRight 3s;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }

}

.subheader-name {
    font-family: 'WorkSans Light';
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-left: 1vw;
    padding: 10px;
    margin-top: -10px;
    animation: fadeInRight 3s 0.5s both;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5 !important;
    }
}

a {
  display: block;
  font-family: 'WorkSans Regular';
  color: white;
  text-decoration: none;
  margin-left: 1vw;
  padding: 10px;
  font-size: clamp(0.75rem, 1vw, 1rem);
  transition: opacity 0.3s;
  animation: fadeInRight 3s 1s both;

  &:hover {
    opacity: 0.5 !important;
  }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }